.proposal-card {
  display: grid;
  grid-template-columns: 2.5fr 3fr;
  gap: 40px;

  &__header {
    margin-bottom: 7px;
  }

  &__link {
    font-weight: 600;
    text-decoration: underline;
  }

  &__image-wrapper {

    overflow: hidden;

    img {
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__info {
    padding: 26px 0;
    padding-right: 13px;
  }
}

.text-container {
  margin-bottom: 16px;
}


.tex-overflow{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  line-clamp: 5; 
  max-height: calc(1.2em * 5); 
  height: auto;
  white-space: normal;
}