@import "./../../../styles/";

.proposal-card {
  display: flex;
  justify-content: flex-start;
  gap: 40px;

  &__header {
    font-weight: 600;
    line-height: 19.5px;
    color: $black-color-500;
    margin-bottom: 7px;
  }

  &__link {
    color: $color-accent;
    font-weight: 600;
    font-size: $font-medium;
    line-height: 24.38px;
  }

  &__image-wrapper {
    width: 100%;
    &:not(:last-child) {
      min-width: 339px;
    }
    img {
      object-fit: contain;
      object-position: center;
    }
  }

  &__info {
    padding: 26px 0;
    padding-right: 13px;
  }
}

.text-container {
  margin-bottom: 16px;
}
