.container {
  max-width: 1280px;
  margin: 0 auto;
}

.section {
  padding-top: 72px;
}

.title {
  margin-bottom: 40px;
}

.text {
  @include typography-text;
}

.shadow {
  box-shadow: var(--main-shadow);
}

.dark {
  background-color: var(--black-500);
  color: var(--white-500);
}

.light {
  background-color: var(--white-500);
  color: var(--black-500);
}
.active,
.accent {
  color: var(--accent-500);
}

.t {
  &-b {
    &-100 {
      color: var(--black-100);
    }
    &-50 {
      color: var(--black-50);
    }
  }
}

.t {
  &-w {
    &-500 {
      color: var(--white-500);
    }
    &-30 {
      color: var(--white-30);
    }
  }
}

.--line {
  position: relative;
  &::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;

    background-color: $color-grey-300;
  }
}
