.typography {
  &__h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: calc(29.26 / 24);
  }
  &__h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: calc(19.5 / 16);

    &__regular {
      font-size: 20px;
      font-weight: 400;
      line-height: calc(24.38 / 20);
    }
  }
  &__h5 {
    font-size: 16px;
    font-weight: 600;
    line-height: calc(19.5 / 16);
  }
  &__h6 {
    font-size: 14px;
    font-weight: 500;
    line-height: calc(17.07 / 14);
  }
  &__h8 {
    font-size: 18px;
    font-weight: 600;
    line-height: calc(21.94 / 18);
  }
}
