:root {
  --accent-500: #ff9a00;
  --accent-600: #e88c00;
  --accent-50: #fceed7;
  --accent-40: #fff5e4;

  --accent-600: #e88c00;

  --black-500: #131313;
  --black-100: #696969;
  --black-50: #b3b3b2;
  --black-40: #e8e8e8;
  --black-30: #f4f4f4;

  --white-500: #fffbf4;
  --white-30: #fafafa;

  --grey-500: #292929;

  --main-shadow: 8px 8px 16px 0px #13131333;
  --main-transition: 0.25s ease-out;
}
