@import './../../../styles/';

.arrow-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 40px;
  border-radius: 64px;
  background-color: $color-accent;

  &__icon {
    color: "#FFFBF4";
    width: "24px";
    height: "24px";
  }
}