@import "../../../styles/mixins/typography";

.shop-filters {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 671px;

  a {
    &::first-letter {
      text-transform: capitalize;
    }
  }
}
