@import './../../../styles/';

.about-link {
  @include btn-styles;
  border-radius: 64px;
  width: 454px;
  height: 80px;
  color: #FFFFFF;
  background-color: $black-color-500;
  @include typography-h2;

  @include hover(background-color, $black-color-400);
  @include active(background-color, $black-color-300);
}
