@import "../../../styles/";

.footer {
  background-color: $black-color-500;
  padding-block: 49px 70px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
}
