@import './../../../styles/';

.sale-link {
  @include btn-styles;
  border-radius: 64px;
  width: 253px;
  height: 80px;
  background-color: $white-color-500;
  @include typography-h2;

  @include hover(background-color, $white-color-600);
  @include active(background-color, $white-color-700);
}

