@import './../../../styles/';

.sale-link {
  @include btn-styles;
  border-radius: 64px;
  width: 454px;
  height: 80px;
  background-color: $header-btn-bgcolor;
  @include typography-h2;

  @include hover(background-color, $header-btn-hovercolor);
  @include active(background-color, $header-btn-activecolor);
}

