@import './../../../styles/';

.header-top{
  padding-inline: 80px;
  padding-block: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;

  &__title {
    color: $white-color-500;
    @include typography-h1;
  }
}
