.about-page {
  padding-bottom: 144px;
  &__flex {
    display: flex;
    justify-content: space-between;
  }
  &__left-block {
    width: 100%;
    max-width: 630px;
  }

  &__right-block {
    width: 100%;
    max-width: 586px;
  }
}

.production-procces-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  li {
    display: flex;
    gap: 16px;
    align-items: center;

    &::before {
      content: url("/ckhmil.svg");
    }
  }
}
