@import "../../../styles/variables/colors";
@import "../../../styles/mixins/typography";

.navigation {
  display: flex;
  gap: 40px;
  align-items: center;

  &__item {
    @include typography-h4;
    color: $white-color-500;
  }
}
