@import './../../styles/';

.card {
  position: relative;
  width: 302px;
  border-radius: 24px;
  padding-bottom: 16px;
  box-shadow: 8px 8px 16px 0px #13131333;
  
  &__description {
    padding-inline: 27px;
    margin-bottom: 16px;
  }

  &__info {
    color: $black-color-500;
    font-weight: 600;
    line-height: 19.5px;
  }

  &__price {
    @include typography-h2;
    color: $color-accent;
  }

  &__button-container {
    display: flex;
    justify-content: center;
  }

  &__icon {
    position: absolute;
    width: 24px;
    height: 24px;
    color: $color-accent;
    top: 20px;
    right: 20px;
  }
}