.card {
  position: relative;
  transition: transform var(--main-transition);
  max-width: 302px;

  &:hover {
    transform: scale(1.05);
    z-index: 1;
  }

  &__name {
    transition: color var(--main-transition);
    &:hover {
      color: var(--accent-500);
    }
  }

  &__image-wrapper {
    position: relative;

    svg {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

  &__image-container {
    height: 400px;
    img {
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__description-wrapper {
    padding: 16px 27px;
    button {
      display: block;
      margin: 0 auto;
    }
  }

  &__name {
    margin-bottom: 7px;
  }

  &__price {
    margin-bottom: 16px;
  }
}
