@import "../../../styles/mixins/typography";
@import "../../../styles/variables/colors";
@import "../../../styles/mixins/animation";

.main-link {
  padding: 24px;
  @include typography-h2-medium;
  text-align: center;
  border-radius: 4px;
}

.main-link.dark {
  @include hover(background-color, $white-color-600);
}

.main-link.light {
  @include hover(background-color, $white-color-600);

  // @include active(background-color, $white-color-700);
}

.arrow-link {
  border: 1px solid $color-accent;
  border-radius: 4px;
  padding: 8px 16px;

  display: flex;
  align-items: center;

  position: relative;
  overflow: hidden;

  svg {
    transition: transform 0.5s ease-out;
    &:nth-child(2) {
      position: absolute;
      transform: translateX(-200%);
    }
  }

  &:hover {
    svg {
      &:nth-child(1) {
        transform: translateX(200%) scale(0.3);
      }
      &:nth-child(2) {
        transform: translateX(0) scale(1.7);
      }
    }
  }
}

.logo-link {
  max-width: 144.6px;
}
