@import "../../../styles/mixins/typography";
@import "../../../styles/variables/colors";
@import "../../../styles/mixins/animation";

.main-link {
  padding: 24px;
  text-align: center;
  border-radius: 4px;
}

.main-link.dark {
  @include hover(background-color, $white-color-600);
}

.main-link.light {
  @include hover(background-color, $white-color-600);

  // @include active(background-color, $white-color-700);
}

.arrow-link {
  border: 1px solid var(--accent-500);
  color: var(--accent-500);
  border-radius: 4px;
  padding: 8px 16px;
  transition:transform 0.35s ease-out;
  
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    transform: scale(1.15);
  }
}

.logo-link {
  max-width: 144.6px;
}
