.main-link {
  padding: 24px;
  text-align: center;
  border-radius: 4px;
}

.main-link.dark {
  transition: var(--main-transition);
  transition-property: color, background-color;
  &:hover {
    background-color: var(--accent-500);
    color: var(--white-500);
  }
  &:active {
    background-color: var(--accent-600);
    color: var(--white-500);
  }
}

.main-link.light {
  transition: var(--main-transition);
  transition-property: color, background-color;

  &:hover {
    background-color: var(--accent-500);
    color: var(--white-500);
  }
  &:active {
    background-color: var(--accent-600);
    color: var(--white-500);
  }
}

.main-link.white {
  transition: var(--main-transition);
  transition-property: background-color, border;
  border: 1px solid var(--black-50);
  &:hover {
    border: 1px solid var(--accent-500);
    background-color: var(--accent-40);
  }
  &:active {
    border: 1px solid var(--accent-500);
    background-color: var(--accent-50);
  }
}

.main-link.blue {
  background-color: var(--blue-500);
  color: white;
  transition: background-color var(--main-transition);
  &:hover {
    background-color: var(--blue-400);
  }
  &:active {
    background-color: var(--blue-300);
  }
}

.arrow-link {
  border: 1px solid var(--accent-500);
  color: var(--accent-500);
  border-radius: 4px;
  padding: 8px 16px;
  transition: transform 0.35s ease-out;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    transform: scale(1.15);
  }
}

.logo-link {
  max-width: 144.6px;
}
