@import "../../../styles/mixins/animation";
@import "../../../styles/variables/colors";
@import "../../../styles/variables/sizes";
@import "../../../styles/mixins/typography";

.action-section {
  padding: 16px 0;

  &__date {
    display: inline-block;
    border: 1px solid var(--accent-500);

    border-radius: 4px;
    margin-bottom: 9px;
    padding: 4px 8px;
  }

  &__title {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
  }
}
