.nav-icons {
  display: flex;
  align-items: center;
  gap: 20px;

  a {
    transition: color var(--main-transition);

    &:hover {
      color: var(--accent-500);
    }
    &:active {
      color: var(--accent-600);
    }
  }
}
