
.card-button.main-link {
  padding: 16px 40px;
  text-align: center;
  letter-spacing: -0.5px;
}

.fav-button {
  width: auto;
  svg {
    transition: color var(--main-transition);
  }
  &:hover {
    svg {
      color: var(--accent-500);
    }
  }
}
