@import "../../../styles/variables/colors";

.cart {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px 0;
  }
  &__list-item {
    position: relative;
    display: grid;
    grid-template-columns: 392px 300px 24px;
    justify-content: space-between;

    padding-bottom: 8px;

    & > button {
      color: $black-color-300;
      transition: color 0.35s ease-out;
      height: 24px;
      &:hover {
        color: $black-color-500;
      }
    }

    .list-item {
      &__left-block {
        img {
          max-width: 54px;
        }
        display: flex;
        align-items: flex-start;
        gap: 16px;
      }

      &__middle-block {
        display: flex;
        justify-content: space-between;
        gap: 20px;
      }
    }
  }
}

.cart-list {
  &__total {
    margin-bottom: 32px;
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 1;

    .cart-modal__title {
      justify-content: flex-end;
    }

    div {
      margin-top: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.cont-shopping-link {
  padding: 18px 70px;
  border: 1px solid var(--black-50);
  border-radius: 4px;

  transition: var(--main-transition);
  transition-property: background-color, border-color;
  &:hover {
    background-color: var(--accent-40);
    border-color: var(--accent-500);
  }
  &:active {
    background-color: var(--accent-50);
    border-color: var(--accent-500);
  }
}
