//Uncategorized
$color-accent: #FF9A00;
//white
$header-btn-bgcolor: #FFFBF4;
$header-btn-hovercolor: #B5B2AD;
$header-btn-activecolor: #6B6966;

//black
$about-btn-bgcolor: #131313;
$about-btn-hovercolor: #424242;
$about-btn-activecolor: #616161;

//grey
$color-grey-500: #292929;
$color-grey-400: #545454;
$color-grey-300: #707070;
