//Uncategorized
$color-accent: #FF9A00;
//white
$white-color-500: #FFFBF4;
$white-color-600: #B5B2AD;
$white-color-700: #6B6966;

//black
$black-color-500: #131313;
$black-color-400: #424242;
$black-color-300: #616161;

//grey
$color-grey-500: #292929;
$color-grey-400: #545454;
$color-grey-300: #707070;
