@import "../../styles/variables/colors";

.single-page {
  margin-bottom: 144px;
  section {
    &:first-of-type {
      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
          max-width: 628px;
        }
      }
    }
  }

  &__description-block {
    min-width: 543px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    button {
      margin-right: auto;
    }
  }

  .title {
    button {
      color: $black-color-300;
    }

    button.active-tab {
      color: $black-color-500;
    }
  }

  &__fav-button {
    display: flex;
    align-items: flex-end;
    gap: 3.5px;
  }
}

.feedback {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  &__item {
    display: flex;
    gap: 40px;

    padding: 24px 16px 24px 24px;

    & > div {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &:first-of-type {
        width: 100%;
        max-width: 100px;
      }

      &:last-of-type {
        gap: 16px;
      }
    }

    .typography__h5 {
      text-align: center;
    }
  }
}
