@import "../../styles/variables/colors";

.single-page {
  .title {
    button {
      color: $black-color-300;
    }

    button.active-tab {
      color: $black-color-500;
    }
  }

  &__fav-button {
    display: flex;
    align-items: flex-end;
    gap: 3.5px;
  }
}
